.SideNavigationContainer
  width: 20%
  max-width: 220px
.contentContainer
  height: 100%
  padding: 20px
  width: 80%
  margin-right: 1.5rem

@media (max-width: 576px)
  .contentContainer
    margin: 0